<h1 class="text text-primary">Reactive Form</h1>
<form action="" class="form">
<div class="col m-3">
    <label for="name" class="form-label">Name:</label>
<input type="text" id="name"  [formControl]="name" class="form-control">
</div>
<div class="col m-3">
<label for="password" class="form-label">Password:</label>
<input type="password" id="password " [formControl]="password" class="form-control">
</div>
<button (click)="login()" class="btn btn-secondary">Click</button>
</form>
<h1 class="text text-primary">Form Group</h1>
<form action="" class="form" [formGroup]="profile" (ngSubmit)="onSubmit()">
<div class="m-3">
    <label for="firstname" class="form-label">FirstName:</label>
    <input type="text" formControlName="firstname" class="form-control" required>
</div>
<div class="m-3">
<label for="lastname" class="form-label">LastName:</label>
<input type="text" formControlName="lastname" class="form-control" required>
</div>
<div class="m-3">
<label for="age" class="form-label">Age:</label>
<input type="number" formControlName="age" required class="form-control">
</div>
<div class="m-3">
<label for="address" class="form-label">Address:</label>
<input type="text" formControlName="address" class="form-control">
</div>
<button type="submit" class="btn btn-primary">Submit</button>
</form>

<h1 class="text text-danger">Nested Form Groups</h1>
<form action="" class="form" [formGroup]="profile2" (ngSubmit)="submitProfile2()">
<div class="m-3">
<label for="name" class="form-label">Name:</label>
<input type="text" id="name" formControlName="name" class="form-control" required>
</div>
<div class="m-3">
<label for="emailid" class="form-label">Email:</label>
<input type="email" id="emailid" formControlName="emailid" class="form-control" required>
</div>
<div class="m-3">
<label for="mobileNo" class="form-label">Mobile Number:</label>
<input type="number" formControlName="mobileNo" id="mobileNo" class="form-control" required>
</div>
<div class="m-3" formGroupName="address2">
<h3 class="text text-secondary">Address</h3>
<div class="m-2">
<label for="street" class="form-label">Street</label>
<input type="text" formControlName="street"id='street' class="form-control">
</div>
<div class="m-2">
<label for="city" class="form-label">City</label>
<input type="text" formControlName="city" id="city" class="form-control" required>
</div>
<div class="m-2">
<label for="state" class="form-label">State</label>
<input type="text" formControlName="state" id="state" class="form-control" required>
</div>
</div>
<button type="submit" class="btn btn-primary">Submit</button>
</form>