<h1 class="text text-dark">pipe is a function that takes input value and returns transformed values</h1>
<h3 class="text text-primary">Json pipe</h3>
<h3 class="text text-danger">{{person|json}}</h3>
<h3 class="text text-primary">UpperCasePipe</h3>
<h3 class="text text-danger">{{name|uppercase}}</h3>
<h3 class="text text-primary">LowerCasePipe</h3>
<h3 class="text text-danger">{{lowername| lowercase}}</h3>
<h3 class="text text-primary">Currency Pipe</h3>
<h3 class="text text-danger">{{money | currency:'USD'}}</h3>
<h3 class="text text-primary">Decimal Pipe</h3>
<h3 class="text text-danger">{{price | number:'1.2-2'}}</h3>
<h3 class="text text-primary">Percent Pipe</h3>
<h3 class="text text-danger">{{marks | percent}}</h3>
<h3 class="text text-primary">Date Pipe</h3>
<h3 class="text text-danger">{{today | date :'fullDate'}}</h3>
<h3 class="text text-primary">Slice Pipe</h3>
<h3 class="text text-danger">{{slicetext| slice:3:8 | uppercase}}</h3>
<h3 class="text text-primary">Number Pipe</h3>
<h3 class="text text-danger">{{200.3000 | number: '2.2-3' }} </h3>